@font-face {
    font-family: firstF;
    src: url(../fonts/Flaticon.woff);
}

@font-face {
    font-family: SecondF;
    src: url(../fonts/flexslider-icon.woff);
}

@font-face {
    font-family: thirdF;
    src: url(../fonts/fontawesome-webfont.woff);
}

@font-face {
    font-family: 4thF;
    src: url(../fonts/fontawesome-webfont.woff2);
}

@font-face {
    font-family: 5thF;
    src: url(../fonts/slick.woff);
}