header {
    position: fixed;
    padding: 30px 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}

header>nav {
    width: 1140px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 25px 25px;
    border-radius: 40px;
    box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.12);
}

header>nav>.sn-btn {
    display: none;
    height: 40px;
    width: 32px;
    cursor: pointer;
}

header>nav>.sn-btn>span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3B566E;
    transition: .4s;
}

header>nav>.sn-btn.sn-closed>span:first-child,
header>nav>.sn-btn.sn-closed>span:last-child {
    width: 70%;
}

header>nav>.sn-btn.sn-open>span:first-child,
header>nav>.sn-btn.sn-open>span:last-child {
    width: 100%;
}

header>nav>.sn-btn.sn-open>span:first-child {
    transform: rotate(40deg);
    transform-origin: left;
}

header>nav>.sn-btn.sn-open>span:nth-child(2) {
    opacity: 0;
}

header>nav>.sn-btn.sn-open>span:last-child {
    transform: rotate(-40deg);
    transform-origin: left;
}

header>nav>.sn-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

header>nav>.sn-menu>.sn-item {
    transition: .3s;
    cursor: pointer;
}

header>nav>.sn-menu>.sn-item:hover {
    color: #ff589e;
}

header>nav>.sn-menu>.sn-home {
    color: #ff589e;
}

@media screen and (max-width:1199px) {
    header>nav {
        width: 930px;
    }
}

@media screen and (max-width:991px) {
    header>nav {
        width: 720px;
        position: relative;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 10px;
    }
    header>nav.sn-closed {
        height: 60px;
        transition-duration: .3s;
        transition-delay: .3s;
    }
    header>nav.sn-open {
        height: 460px;
        transition-duration: .3s;
    }
    header>nav.sn-closed>.sn-menu {
        visibility: hidden;
        opacity: 0;
        transition-duration: .3s;
    }
    header>nav.sn-open>.sn-menu {
        transition-delay: 1s;
        transition-duration: .3s;
        transition-delay: .3s;
    }
    header>nav>.sn-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    header>nav>.sn-menu {
        flex-direction: column;
        position: absolute;
        box-sizing: border-box;
        background-color: #fff;
        width: 100%;
        left: 0;
        top: 82px;
        border-radius: 0 0 40px 40px;
        overflow: hidden;
    }
    header>nav>.sn-menu>.sn-item {
        width: 100%;
        border-top: 1px solid #eee;
        text-align: center;
        padding: 19px;
        font-weight: 500;
        font-size: 13px;
        color: #3B566E;
    }
    header>nav>.sn-menu>.sn-item:last-child {
        border-radius: 0 0 40px 40px;
    }
    header>nav>.sn-menu>.sn-item:hover {
        background-color: #eee;
        color: #3B566E;
    }
}

@media screen and (max-width:767px) {
    header>nav {
        width: 540px;
    }
}

@media screen and (max-width:575px) {
    header {
        padding: 20px 10px;
    }
    header>nav {
        width: 100% !important;
    }
}