    body {
        margin: 0;
        padding: 0;
        font-family: "Raleway", sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .sn-welcome {
        height: 100vh;
        background-image: url(../images/banner-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
    }
    
    .sn-welcome>.sn-text {
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        width: 560px;
        text-align: center;
    }
    
    .sn-welcome>.sn-text>h1 {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 1.4px;
        margin-bottom: 30px;
    }
    
    .sn-welcome>.sn-text>p {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.25px;
        margin-bottom: 40px;
    }
    
    .sn-welcome>.sn-text>a {
        text-decoration: none;
        color: #fff;
        background-color: #ff589e;
        font-size: 13px;
        border-radius: 20px;
        padding: 12px 20px;
        text-transform: uppercase;
        letter-spacing: 0.25;
        transition: 0.3s;
    }
    
    .sn-welcome>.sn-text>a:hover {
        background-color: #8261ee;
    }
    
    .sn-features {
        margin-top: -80px;
        display: flex;
        justify-content: center;
    }
    
    .sn-feature.feature-animation {
        animation: feature-animation ease-in .3s forwards;
        opacity: 1;
    }
    
    @keyframes feature-animation {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .sn-features>.sn-holder {
        width: 1140px;
        display: flex;
        gap: 25px;
        flex-wrap: nowrap;
    }
    
    .sn-features>.sn-holder>.sn-feature {
        flex-grow: 1;
        border-radius: 20px;
        box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.12);
        background-color: white;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;
        opacity: 0;
    }
    
    .sn-features>.sn-holder>.sn-feature>.sn-top {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sn-features>.sn-holder>.sn-feature>.sn-top>.sn-icon {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-color: #8261ee;
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sn-features>.sn-holder>.sn-feature:hover>.sn-top>.sn-icon {
        background-color: #ff589e;
    }
    
    .sn-features>.sn-holder>.sn-feature>.sn-text {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .sn-features>.sn-holder>.sn-feature>.sn-text>h5 {
        font-weight: 500;
        font-size: 18px;
        color: #1e1e1e;
        letter-spacing: 0.7px;
        margin-bottom: 15px;
        margin-top: 0;
    }
    
    .sn-features>.sn-holder>.sn-feature>.sn-text>p {
        font-weight: 400;
        font-size: 13px;
        color: #777;
        letter-spacing: 0.5px;
        line-height: 25px;
        margin-bottom: 0;
    }
    
    .sn-content {
        padding-top: 100px;
    }
    
    .sn-content>.sn-hr {
        width: 1000px;
        margin: 100px auto;
        height: 1px;
        border-bottom: 1px solid #eee;
        z-index: 99;
    }
    
    .sn-content>section {
        width: 1000px;
        margin: auto;
        display: flex;
        gap: 20%;
    }
    
    .sn-content>section>.sn-text>h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 43px;
        color: #1e1e1e;
        letter-spacing: 0.25px;
        margin-bottom: 30px;
        margin-top: 60px;
    }
    
    .sn-content>section>.sn-text>div {
        font-weight: 400px;
        font-size: 16px;
        color: #777;
        line-height: 28px;
        letter-spacing: 1px;
    }
    
    @media screen and (max-width:1199px) {
        .sn-features>.sn-holder {
            width: 930px;
        }
        .sn-content>section,
        .sn-content>.sn-hr {
            width: 930px;
        }
    }
    
    @media screen and (max-width:991px) {
        .sn-features>.sn-holder {
            width: 720px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        }
        .sn-features>.sn-holder>.sn-feature {
            width: 330px;
        }
        .sn-content>section,
        .sn-content>.sn-hr {
            width: 720px;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media screen and (max-width:767px) {
        .sn-welcome>.sn-text {
            width: 100%;
        }
        .sn-features>.sn-holder {
            width: 540px;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }
        .sn-features>.sn-holder>.sn-feature {
            width: 240px;
        }
        .sn-content>section,
        .sn-content>.sn-hr {
            width: 540px;
        }
    }
    
    @media screen and (max-width:575px) {
        .sn-features>.sn-holder {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .sn-features>.sn-holder>.sn-feature {
            width: 100%;
        }
        .sn-content>section,
        .sn-content>.sn-hr {
            width: 100%;
        }
        .sn-content>section>.sn-text {
            padding: 0 20px;
        }
    }